<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.stephenj.sqlope.mbg.mapper.DtMapper">
  <resultMap id="BaseResultMap" type="me.stephenj.sqlope.mbg.model.Dt">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="tbid" jdbcType="INTEGER" property="tbid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="fk" jdbcType="INTEGER" property="fk" />
    <result column="pk" jdbcType="BIT" property="pk" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, tbid, name, fk, pk
  </sql>
  <select id="selectByExample" parameterType="me.stephenj.sqlope.mbg.model.DtExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dt
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dt
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dt
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="me.stephenj.sqlope.mbg.model.DtExample">
    delete from dt
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="me.stephenj.sqlope.mbg.model.Dt">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into dt (tbid, name, fk, 
      pk)
    values (#{tbid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{fk,jdbcType=INTEGER}, 
      #{pk,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="me.stephenj.sqlope.mbg.model.Dt">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into dt
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tbid != null">
        tbid,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="fk != null">
        fk,
      </if>
      <if test="pk != null">
        pk,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tbid != null">
        #{tbid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="fk != null">
        #{fk,jdbcType=INTEGER},
      </if>
      <if test="pk != null">
        #{pk,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="me.stephenj.sqlope.mbg.model.DtExample" resultType="java.lang.Long">
    select count(*) from dt
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dt
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.tbid != null">
        tbid = #{record.tbid,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.fk != null">
        fk = #{record.fk,jdbcType=INTEGER},
      </if>
      <if test="record.pk != null">
        pk = #{record.pk,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dt
    set id = #{record.id,jdbcType=INTEGER},
      tbid = #{record.tbid,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      fk = #{record.fk,jdbcType=INTEGER},
      pk = #{record.pk,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="me.stephenj.sqlope.mbg.model.Dt">
    update dt
    <set>
      <if test="tbid != null">
        tbid = #{tbid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="fk != null">
        fk = #{fk,jdbcType=INTEGER},
      </if>
      <if test="pk != null">
        pk = #{pk,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="me.stephenj.sqlope.mbg.model.Dt">
    update dt
    set tbid = #{tbid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      fk = #{fk,jdbcType=INTEGER},
      pk = #{pk,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>